crowding-crenation/data/raw/
crowding-crenation/data/new/*/dpc/
crowding-crenation/data/results/initial-dataset-071626/otsu-masks
crowding-crenation/data/validation/*.png
crowding-crenation/data/validation/*.tif
fluorescence/data/labels
fluorescence/data/raw/
__pycache__/
*.pyc
.venv/
